@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-800;
  }
}

@layer utilities {
  .wrap-anywhere {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    hyphens: auto;
  }
}

#root {
  @apply relative overflow-x-hidden;
}